@import "./_constants";
@import "./_custom-flex";

html,
body,
#__next,
.full-height {
	background-color: $COLOR_BACKGROUND;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

h1 {
	color: #fff;
	font-size: 2.5rem;
	font-family: "Luckiest Guy", cursive;
	text-align: center;
	text-shadow: -5px -5px 0 #1a1a1a, 5px -5px 0 #1a1a1a, -5px 5px 0 #1a1a1a, 5px 5px 0 #1a1a1a;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		-webkit-transition: all 0.4 ease-in-out;
		-moz-transition: all 0.4 ease-in-out;
		transition: all 0.4 ease-in-out;
	}
}

*,
::before,
::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.main {
	max-width: $MAX_WIDTH;
	padding: 5px;
	margin: 0 auto;
	width: 100%;
	min-height: calc(100% - #{$HEADER_DEFAULT} - #{$FOOTER_DEFAULT});
}

.button {
	border: 3px solid #fff;
	border-radius: 10px;
	cursor: pointer;
	background-color: $COLOR_BUTTON_BG;
	color: $COLOR_BUTTON_FONT;
	font-size: 1.7rem;
	font-family: "Margarine", cursive;
	letter-spacing: 2px;
	padding: 0.7rem 2rem;
	margin: 5px auto;
	text-align: center;
	text-decoration: none;
	outline: none;

	&:hover {
		background-color: $COLOR_BUTTON_HOVER;
		transition: 0.2s ease-in-out;
	}
}
