.countdown {
	font-size: 12rem;
	color: #fff;
	text-shadow: -5px -5px 0 #1a1a1a, 5px -5px 0 #1a1a1a, -5px 5px 0 #1a1a1a, 5px 5px 0 #1a1a1a;
	font-family: "Margarine", cursive;
	margin: 0 auto;
}

.result-card {
	background-color: #fff;
	border-radius: 6px;
	margin: 0 auto;
	margin-bottom: 15px;
	max-width: 300px;
	padding: 10px;
	width: 90%;

	&_name {
		font-size: 2rem;
		font-weight: 600;
	}

	&_image {
		width: 50%;
	}

	&_introduction {
		font-size: 1rem;
		font-weight: 400;
	}
}
